<ion-view>
  <ion-nav-bar>
    <ion-nav-title>แถวเนียบรุ่น 57 มหาวิทยาลัยสยาม</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <div class="bar bar-stable static  item-input-inset"><label class="item-input-wrapper"> <i
        class="icon ion-search placeholder-icon"></i> <input type="search" ng-model="query" placeholder="ค้นหา">
      </label></div>

<!--
      <div class="item item-divider-ios item-positive">นักศึกษา</div>
-->

      <div class="item item-avatar-left item-icon-right" ng-click="btnDetail(data)"
           ng-repeat="data in myDataArray | filter : query"><img ng-src="img/{{data.imgDev}}"
                                                                 height="128" width="128" style="border-radius:50%;">

        <h2>{{data.name}}</h2>

        <p>{{data.nick}}</p> <i class="icon ion-chevron-right"></i></div>
    </div>
  </ion-content>
</ion-view>
