<ion-view>
  <ion-nav-bar>
    <ion-nav-title>Contact System</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">User</span>
        <input type="text" placeholder="your username" ng-model="form.txt_user">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="your password" ng-model="form.txt_pwd">
      </label>
      <button class="button button-full" ng-click="btnLogin()">Login</button>
    </div>
  </ion-content>
</ion-view>
